<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
<script src="js/app.js"></script>
<link rel="stylesheet" type="text/css" href="css/calculator.css">

<script type="text/javascript">
$(document).ready(function(){
    $("#MathControllers").children().hide();
    var selectedController = "A";
  
    $("#btnControllerA").click(function() {
      $("#MathController" + selectedController).hide();
      $("#MathControllerA").show();
      $("#btnController" + selectedController).attr("class", "btnUnClicked");
      $("#btnControllerA").attr("class","btnClicked");
      selectedController = "A";

    });

    $("#btnControllerB").click(function() {
      $("#MathController" + selectedController).hide();
      $("#MathControllerB").show();
      $("#btnController" + selectedController).attr("class", "btnUnClicked");
      $("#btnControllerB").attr("class","btnClicked");
      selectedController = "B";
    });
});

</script>
<html ng-app="myApp">
  <head>
  </head>
  <body>
    <div id="Math Controller Selector">
    <h4>Math Controller <button id="btnControllerA">A </button>&nbsp;&nbsp;<button id="btnControllerB">B </button></h4>
    <div id="MathControllers" ng-controller="mathControllerTemplate">
      <div id="MathControllerA" ng-controller="mathControllerTemplate" class="mathController">
      		<button ng-click="add(1)" class="button" name="Add">Add</button>
      		<button ng-click="subtract(1)" class="button" name="Subtract">Subtract</button> 
      		<h4>Current count: {{ counter }}</h4>
          <br><br>
  		</div>
    <div id="MathControllerB" ng-controller="mathControllerTemplate" class="mathController">
          <button ng-click="add(1)" class="button" name="Add">Add</button>
          <button ng-click="subtract(1)" class="button" name="Subtract">Subtract</button> 
          <h4>Current count: {{ counter }}</h4>
          <br><br>
      </div>
    </div>
  </body>
</html>